DJANGO_SECRET_KEY=djangoinsecure
DEBUG=True
DJANGO_LOGLEVEL=info
DJANGO_ALLOWED_HOSTS=localhost
DATABASE_ENGINE=postgresql
DATABASE_NAME=owlcamservicedb
DATABASE_USERNAME=root
DATABASE_PASSWORD=lYr3KCPu6QFr8W9KHcRF7gAK2Wfp
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_CONN_MAX_AGE=60